<div id="winampPlayer">


<div id="playerHeader">

🎵 Obvyris Player

<span id="closePlayer">
✕
</span>

</div>



<div id="playerBody">


<div id="nowPlaying">

No Track Playing

</div>



<div id="artist">

Obvyris Media Engine

</div>




<audio id="audioPlayer"></audio>



<div id="progress">

</div>




<div id="controls">


<button>
◀
</button>


<button>
▶ / ⏸
</button>


<button>
▶
</button>



<button>
🔀
</button>



</div>



<hr>



<div class="playlistTitle">

🎵 Playlist

</div>



<div id="playlist">


No songs queued


</div>



</div>


</div>
