/* =========================
   OBBVYRIS WINAMP PLAYER
========================= */


body{

background:#070d16;

color:white;

font-family:Arial;

}



#winampPlayer{


position:fixed;

right:20px;

bottom:100px;

width:360px;

height:500px;


background:#101923;

border:1px solid #2793ff;

border-radius:10px;


box-shadow:
0 0 25px black;


resize:both;

overflow:hidden;


}



.playerTitle{


background:#142338;

padding:10px;

color:#55b8ff;

font-weight:bold;


}



.playlist{


padding:10px;

overflow:auto;

height:300px;


}