body{

background:#070d16;

color:#d8e1ec;

font-family:Arial;

}



#winampPlayer{


position:fixed;

right:30px;

bottom:100px;


width:360px;


background:#101923;


border:

1px solid #2793ff;


border-radius:10px;


box-shadow:

0 0 25px black;


z-index:9999;


}




#playerHeader{

user-select:none;

cursor:move;


background:#142338;


padding:12px;


color:#55b8ff;


font-weight:bold;


cursor:move;


display:flex;


justify-content:space-between;


}



#closePlayer{


cursor:pointer;

color:white;

}



#playerBody{


padding:15px;


}



#nowPlaying{


font-size:18px;

font-weight:bold;

color:#55b8ff;


}



#artist{


color:#aaa;

margin-bottom:10px;


}



audio{


width:100%;


}



#controls{


display:flex;

gap:8px;

margin-top:10px;


}



button{


background:#2793ff;

border:none;

color:white;

padding:10px;

border-radius:6px;

cursor:pointer;


}



button:hover{


background:#55b5ff;


}



.playlistTitle{


color:#55b8ff;

font-weight:bold;


margin-top:10px;


}



#playlist{


height:200px;


overflow:auto;


border-top:1px solid #26384f;


margin-top:10px;


padding:10px;


}
